<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Userlist</title>
</head>
<body>
<a href="/admin/new">Create new person</a>
<br/>
<table>
    <tr>
        <th>NAME</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}">NAME</td>
        <td><a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a></td>
        <td><form th:method="DELETE" th:action="@{/admin/remove/{id}(id=${user.id})}">
            <input type="submit" value="delete"/>
        </form> </td>
    </tr>
</table>

<br/>
<a th:href="@{/logout}">Logout</a>

</body>
</html>