<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Userlist</title>
</head>
<body>

<table border="1" cellpadding="5">
    <tr>
        <th>NAME</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}">NAME</td>
        <td><a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{/admin/remove/{id}(id=${user.id})}">Delete</a></td>
    </tr>
</table>

<!div th:each="user : ${users}">
    <!a th:href="@{/user/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a>
<!/div>

<br/>


<a href="/admin/new">Create new person</a>
<br/>
<a th:href="@{/logout}">Logout</a>

</body>
</html>