<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <label for="nickname">Enter nickname: </label>
  <input type="text" th:field="*{nickname}" id="nickname"/>
  <br/>
  <label for="age">Enter age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <br/>
  <label for="password">Enter password: </label>
  <input type="text" th:field="*{password}" id="password"/>
  <br/>
  <input type="checkbox" name="checkBoxRoles" value="ROLE_USER"/>USER
  <input type="checkbox" name="checkBoxRoles" value="ROLE_ADMIN"/>ADMIN
  <br/>
  <input type="submit" value="Update!"/>
</form>

<a th:href="@{/logout}">Logout</a>

</body>
</html>